<div *ngIf="isSameComp" class="ms-3">
    <button *ngIf="permissioinStoreService.hasPermission(appPermission.USER_MAKER)" class="btn btn-success mb-1"
        (click)="onNewUser()">Add New User</button>
</div>

<div *ngIf="isSameComp" class="row d-flex mt-2 mb-2">
    <div class="input-group input-group-lg">
        <!-- <div class="col-md-3 form-floating" *ngIf="allowInstitutionSearch">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                [(ngModel)]="institutionId">
                <option [value]="null" disabled>Select Institution</option>
                <option *ngFor="let ins of institutionList" [value]="ins.institutionId">
                    {{ins.institutionName}}</option>
            </select>
            <label class="ml-3" for="floatingSelect">Institution</label>
        </div> -->

        <div class="col-md-3 form-floating" *ngIf="allowInstitutionSearch">
            <ng-multiselect-dropdown
                [data]="institutionList"
                [(ngModel)]="selectedInstitution"
                [settings]="dropdownSettings"
                (onSelect)="onInstitutionSelect($event)" (onDeSelect)="deselect($event)"
                [placeholder]="'Select Institution'"
                [showSelectedItemsAtTop]="true"
                >
            </ng-multiselect-dropdown>
            <!-- <label class="ml-3" for="floatingSelect">Institution</label> -->
        </div>
        
        
        <input type="fullName" class="form-control" id="fullNameInput" placeholder="abc@some.com"
        [(ngModel)]="fullName" name="fullName" placeholder="Search by Full Name" maxlength="50">

        <input type="loginName" class="form-control" id="loginNameInput" placeholder="abc@some.com"
        [(ngModel)]="loginName" name="loginName" placeholder="Search by Login Name" maxlength="50">

        <input type="loginName" class="form-control" id="emailInput" placeholder="abc@some.com" [(ngModel)]="email"
        name="email" placeholder="Search by Email" maxlength="50">



        <button class="btn btn-primary active" type="button" style="z-index: 1;" (click)="loadUserList()" value="Search"
        [ngxInputLoaderConfig]="loaderConfig"
        [ngxInputLoader]="showProgress">Search</button>
    </div>



</div>

<!-- <div class="row">
    <div class="d-flex justify-content-end">
        <div class="form-floating mt-2 mb-2">
            <input type="button" class="btn btn-primary" [ngxInputLoaderConfig]="loaderConfig" [ngxInputLoader]="showProgress" (click)="loadUser()" value="Search">
        </div>
    </div>
</div> -->


<div *ngIf="showGrid" class="shadow">
    <angular-slickgrid #userGrid id="userGridId" gridId="userGrid" [columnDefinitions]="columnDefinitions"
        [gridOptions]="gridOptions" [dataset]="dataset" [gridHeight]=height
        (onAngularGridCreated)="angularGridReady($event)">
    </angular-slickgrid>
</div>
<div id="id"></div>


<ngx-loading [show]="loading" [config]="{
    primaryColour: '#dd0031',
    secondaryColour: '#1976d2',
    tertiaryColour: '#dd0031',
    backdropBorderRadius: '3px'
  }">
</ngx-loading>