.action-column {
    width: 5px;
    background-color: red;
}

.manage-role-icon {
    cursor: pointer;
}

/* Styling for the button */
.btn-change {
    background-color: #293c8b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    // transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
  }



// :host ::ng-deep .slick-header-columns {
//     border-right: 1px solid #ccc;
//     padding: 5px 10px;
//     background-color: #025d7e44;

//     .slick-header-column {
//         /* Additional styles for header cell text */
//         background-color: transparent !important;
//         text-align: center !important; 

//         span{
//             font-size: 1.0rem;
//         }
//     }
//     .ui-widget-header .slick-header-column {
//         text-align: center;
//     }
// }