<div class="body" style="overflow-x: hidden !important;">
    <div class="" role="dialog" tabindex="-1">
        <!-- <div class="modal-header bg-bar-color py-2 mb-2">
            <div class="align-self-center ">
                <h3 class="mx-auto text-dark">Signature By </h3>
            </div>
        </div> -->
        <div class="modal-body p-0">
            <div class="d-flex justify-content-center" style="overflow: hidden; height: 100%;">
                <div class="div-style div-header mb-4">
                    <h4 class="mt-2">Signature Download</h4>
                </div>

                <div class="col-12 uploadForm p-5" style="height: auto;min-height: 520px;">
                    <div class="col-md-12 pt-4">
                    <div class="row">
                        <div class="inputContainer col-md-3 d-flex">
                            <!-- <div class="mb-3"> -->
                            <select class="input" id="typ" [(ngModel)]="downloadType"
                                [ngModelOptions]="{standalone: true}">
                                <option [ngValue]="''" disabled>Select One</option>
                                <option [ngValue]="'FULL'">Prime Bank Full Signature Booklet </option>
                                <option [ngValue]="'SINGLE'">Single</option>
                            </select>
                            <!-- <div class="invalid-feedback">Please select an option.</div> -->
                            <label for="typ" class="label">Download For:</label>
                        </div>

                        <ng-container *ngIf="downloadType === 'FULL'">
                            <div class="col-md-auto my-2 mb-5 align-self-center">
                                <input type="button" value="Download" class="btn btn-primary" (click)="downloadFullOpen()"
                                    [ngxInputLoader]="searchBy === 'full' && showProgress"
                                    [ngxInputLoaderConfig]="loaderConfig">
                            </div>
                            <div class="col-2 align-self-center mb-5" *ngIf="showProgress">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0"
                                        aria-valuemax="100" [style.width.%]="progress">{{progress}}%</div>
                                </div>

                            </div>
                        </ng-container>

                        <ng-container *ngIf="downloadType === 'SINGLE'">

                            <div class="inputContainer col-md-3">
                                <!-- <div class="mb-3"> -->
                                <select class="input" id="typ" [(ngModel)]="bankType"
                                    (change)="selectionChange(bankType)" [ngModelOptions]="{standalone: true}">
                                    <option [ngValue]="''" disabled>Select Bank</option>
                                    <option [ngValue]="'INTERNAL_USER'">Prime Bank</option>
                                    <option [ngValue]="'EXTERNAL_USER'">Others</option>
                                </select>
                                <!-- <div class="invalid-feedback">Please select an option.</div> -->
                                <label for="typ" class="label">Download For:</label>
                            </div>
                            <div class="inputContainer col-md-3" *ngIf="bankType === 'EXTERNAL_USER'">
                                <!-- <div class="mb-3"> -->
                                <select class="input" id="status1" [(ngModel)]="insType"
                                    (change)="loadInstitution(insType)" [ngModelOptions]="{standalone: true}">
                                    <option [ngValue]="''" disabled>Select Institution Type</option>
                                    <option [ngValue]="institutionType.value"
                                        *ngFor="let institutionType of institutionTypeList">
                                        {{institutionType.name}}</option>
                                </select>
                                <label for="status1" class="label">Institution Type:</label>

                            </div>
                            <div class="inputContainer col-md-3"
                                *ngIf="bankType === 'EXTERNAL_USER' && institutionList">
                                <!-- <input class="input" list="institutionList" id="datalistInput" autocomplete="off"
                                    placeholder="Select Institution" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedInstitutionName" (change)="getInstitutionId()" />
                                <label for="status1" class="label">Institution Name:</label>

                                <datalist id="institutionList">
                                    <option *ngFor="let institution of institutionList">
                                        {{ institution.institutionName }}</option>
                                </datalist> -->
                                <ng-multiselect-dropdown style="z-index: 150; width: 300px;"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedInstitutionName"
                                [placeholder]="'Select institution'" [settings]="dropdownSettingsInstitution"
                                [data]="institutionList" (onSelect)="getInstitutionIdS($event)"
                                [ngClass]="{ 'is-invalid': (clicked || isSearch) && profileForm.controls.institutionId?.errors}">
                            </ng-multiselect-dropdown>
                            </div>
                        </ng-container>
                    </div>

                    <div class="row">
                        <ng-container
                            *ngIf="bankType === 'EXTERNAL_USER' && selectedInstitutionName && downloadType === 'SINGLE'">

                            <div class="card">
                                <div class="col-12 row d-flex">

                                    <div class="col-md-3 my-2" *ngIf="institutionId">
                                        <div class="row align-items-center form-floating">
                                            <input id="typeahead-basic2" class="form-control ml-3" type="text"
                                                placeholder="Search by Employee ID/PA"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="employeeId"
                                                [ngbTypeahead]="searchByPaEmp" (selectItem)="selectedEmployeeId($event)"
                                                [ngxInputLoader]="searchBy == 'employeeId' && showProgress"
                                                [ngxInputLoaderConfig]="loaderConfig" />
                                            <label for="typeahead-basic2" class="ml-3">Employee
                                                ID/PA:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2 mx-3" *ngIf="institutionId">
                                        <div class="row align-items-center form-floating">
                                            <input id="typeahead-basic3" class="form-control ml-3" type="text"
                                                placeholder="Search by Name" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="name" [ngbTypeahead]="searchByName"
                                                (selectItem)="selectedName($event)"
                                                [ngxInputLoader]="searchBy == 'name' && showProgress"
                                                [ngxInputLoaderConfig]="loaderConfig" />
                                            <label for="typeahead-basic3" class="ml-3">Name:</label>
                                        </div>
                                    </div>

                                    <div class="col-md-auto my-2 align-self-center" *ngIf="institutionId">
                                        <input type="button" value="Download" class="btn btn-primary"
                                            (click)="searchExternalSignature()"
                                            [ngxInputLoader]="searchBy === 'btn' && showProgress"
                                            [ngxInputLoaderConfig]="loaderConfig">
                                    </div>
                                    <!-- <div class="col-2" *ngIf="showProgress" class="progress-button">
                                        <div class="progress" [style.width.%]="progress"></div>
                                    </div> -->

                                    <div class="col-2 align-self-center" *ngIf="showProgress && isDownload">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0"
                                                aria-valuemax="100" [style.width.%]="progress">{{progress}}%</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </ng-container>

                        <ng-container *ngIf="bankType === 'INTERNAL_USER' && downloadType === 'SINGLE'">
                            <div class="card">
                                <div class="col-12 row">

                                    <div class="col-4 my-2">
                                        <div class="row align-items-center">
                                            <label for="typeahead-basic"
                                                class="col-form-label py-0 col-md-auto">PA:</label>
                                            <div class="col">
                                                <input id="typeahead-basic" [appNoSpecialCharacters]="'numericNumber'" class="form-control app-input-field "
                                                    style="z-index: 100000;" type="text"
                                                    placeholder="Search by PA Number"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="pa"
                                                    [ngbTypeahead]="searchByPa" (selectItem)="selectedPa($event)"
                                                    [ngxInputLoader]="searchBy == 'pa' && showProgress"
                                                    [ngxInputLoaderConfig]="loaderConfig" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 my-2">
                                        <div class="row align-items-center">
                                            <label for="typeahead-basic"
                                                class="col-form-label py-0 col-4 p-0">Name:</label>
                                            <div class="col-8">
                                                <input id="typeahead-basic" [appNoSpecialCharacters]="'name'" class="form-control app-input-field"
                                                    type="text" placeholder="Search by Name"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="name"
                                                    [ngbTypeahead]="searchByName" (selectItem)="selectedName($event)"
                                                    [ngxInputLoader]="searchBy == 'name' && showProgress"
                                                    [ngxInputLoaderConfig]="loaderConfig" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-2 my-2">
                                        <input type="button" value="Download" class="btn btn-primary"
                                            (click)="searchSignature()"
                                            [ngxInputLoader]="searchBy === 'btn' && showProgress"
                                            [ngxInputLoaderConfig]="loaderConfig">
                                    </div>

                                    <div class="col-2 align-self-center" *ngIf="showProgress && isDownload">
                                        <!-- <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0"
                                                aria-valuemax="100" [style.width.%]="progress"></div>
                                        </div> -->
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0"
                                                aria-valuemax="100" [style.width.%]="progress">{{progress}}%</div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
                <div class="div-style div-footer">
                    <h4 style="color: transparent;">Signature Upload</h4>
                </div>

            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{
    primaryColour: '#dd0031',
    secondaryColour: '#1976d2',
    tertiaryColour: '#dd0031',
    backdropBorderRadius: '3px'
  }">
</ngx-loading>