// @import url('../service/base.scss');

.background {
    // background-color: #2F4EA1;
    background-image: url('../../assets/images/e-signews.jpg');
    min-height: 100vh;
    height: auto !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;
    height: -webkit-fill-available;
    // height: 100% !important;

}

body,
html {
    background-color: #2F4EA1;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.invalid-feedback.col-md-12.ng-tns-c114-1.ng-star-inserted {
    position: absolute;
    top: 38px;
    right: -10px;
    margin-bottom: 30px;
}

.form-group.inputContainer.mb-4.mlt {
    height: auto;
}

.invalid-feedback-p {
    bottom: -16px !important;
    position: absolute !important;
    right: -15px !important;
}

.t {
    width: 100%;
    text-align: end;
    // height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

i {
    animation-name: ani;
    animation-duration: 0.5s;
    padding-right: 3px;
    // color: white;
}

.btn {
    margin-left: 35%;
}

.font_n {
    font-weight: bold;
}

.font_m {
    font-size: 16px;
}


.user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 0;
    border: 2px solid black;

}

.container-fluid {
    position: relative;
    position: absolute;

    // top: 20vh;
    // height: 100% !important;  

}

.text_c {
    color: rgba(231, 231, 231, 0.872);
    // font-family: Times New Roman, 'Courier New', Courier, monospace;
    text-align: justify;
    // font-weight: bold;
    font-size: 22px;
    // font-style: italic;
    padding: 5px;
    margin-top: 3%;
}

.hot-color-readonly {
    background-color: rgba(56, 46, 46, 0.137);
    color: rgba(166, 160, 160, 0.979);

}

.input.is-invalid {
    border-color: red !important;
    box-shadow: none !important;
}

.validation-color {
    color: red;
}

.validation-color-cap {
    color: red;
    font-size: 10px;
}

.inputContainer {
    position: relative;
    height: 45px;
}

.kk {
    // position: relative;
    height: 45px;
}


ul {
    list-style-type: none;
    padding-left: 5px;

    li {
        margin: 2px 0;
    }

    .defalt::before {
        content: '*' !important;
        margin-right: 5px;

    }

    // .defalt{
    //     color: red;
    //     // content: decimal !important;
    // }
    .valid::before {
        content: "\2714";
        display: inline-block;
        margin-right: 5px;
        background-color: rgb(28, 253, 28);
        color: white;
        border-radius: 50%;
        font-size: 14px;
        padding: 2px;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
    }

    .invalid::before {
        content: "\2716";
        font-size: 14px;
        margin-right: 5px;
        background-color: rgb(255, 83, 83) !important;
        border-radius: 50%;
        display: inline-block;
        color: white;
        padding: 2px;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }
}




.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Cambria';
    // margin-top: 70px;
    padding-top: 72px;

}

.btn-change {
    background-color: #293c8b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    // transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: auto;
    // padding: 1.5rem 1.5rem;
}

.register-heading {
    color: black;
}

.bg {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
}


.register {
    background: -webkit-linear-gradient(left, #2F4EA1, #2F4EA1);

}



.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}



.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 1%;
    margin-top: 1%;
}


.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #042653;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;

}

.register-heading {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0%;

    color: #000000;
    font-style: italic;
}


.is-invalid {
    border: 1px solid red !important;
}

.inputContainer {
    position: relative;
    height: 45px;

}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 9px;
    left: 15px;
    padding: 0 4px;

    background-color: #f0efef;
    color: black;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.input:focus+.label {
    top: -10px;
    left: 10px;
    z-index: 29;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #f0efef;

}

.input:focus {
    border: 1px solid white;
}

.input:not(:placeholder-shown)+.label {
    top: -10px;
    left: 10px;
    z-index: 20;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #f0efef;

}

.input:not(:placeholder-shown) {
    border: 1px solid whitesmoke;
}

.invalid-feedback.col-md-12.ng-tns-c113-0.ng-star-inserted {
    position: absolute;
    top: 38px;
    right: -10px;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: auto;
    // padding: 1.5rem 1.5rem;
}


.reload-btn:hover i {
    color: white !important;
}

.reg-btn {
    margin-right: 50px;

}

.reload-btn {
    margin-left: 6px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-link:hover {
    color: #555;
}

a.footer-link {
    color: #061544;
    font-weight: 600;
    cursor: pointer;
}


.t {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

:host {
    display: block;
    height: 100vh;
    overflow-y: auto !important;
}

.reg-btn {
    height: 40px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
}
