<div class="content-wrapper contact-us">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <!-- First Card -->
      <div class="col-md-6 col-xxl-4">
        <div class="card h-100 d-flex flex-column">
          <div class="card-body flex-grow-1">
            <div class="bg-label-primary rounded-3 text-center mb-4 pt-6">
              <img class="img-fluid" src="assets/images/cmap.jpg" alt="Card girl image"
                style="width: 100%; height: 190px;">
            </div>
            <h5 class="mb-2">Head Office</h5>
            <div class="row mb-4 g-3">
              <div class="col-12">
                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-map-marker"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Address</h6>
                    <p class="mb-0">{{address}}</p>
                  </div>
                </div>

                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Contact</h6>
                    <p class="mb-0">{{phone}}</p>
                  </div>
                </div>

                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-fax" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Fax</h6>
                    <p class="mb-0">{{fax}}</p>
                  </div>
                </div>

                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Email</h6>
                    <p class="mb-0">{{email}}</p>
                  </div>
                </div>

                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Swift</h6>
                    <p class="mb-0">{{swift}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Join Button -->
          <div class="col-12 text-center join-btn-container">
            <a href="http://{{ website }}" target="_blank" class="btn btn-primary w-100 d-grid">Visit our website</a>
          </div>
        </div>
      </div>

      <!-- Second Card -->
      <div class="col-md-6 col-xxl-4">
        <div class="card h-100 d-flex flex-column">
          <div class="card-body flex-grow-1">
            <div class="bg-label-primary rounded-3 text-center mb-4 pt-6">
              <img class="img-fluid" src="assets/images/cmap.jpg" alt="Card girl image"
                style="width: 100%; height: 190px;">
            </div>
            <h5 class="mb-2">For 24/7 Contact Center</h5>
            <div class="row mb-4 g-3">
              <div class="col-12">
                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Contact</h6>
                    <p class="mb-0">{{contact1}}</p>
                  </div>
                </div>

                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Contact</h6>
                    <p class="mb-0">{{contact2}}</p>
                  </div>
                </div>

                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container">
                    <span
                      class="avatar-initial rounded bg-label-primary d-flex align-items-center justify-content-center">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0">Email</h6>
                    <p class="mb-0">{{email247}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Join Button -->
          <div class="col-12 text-center join-btn-container">
            <a href="http://{{ website }}" target="_blank" class="btn btn-primary w-100 d-grid">Visit our website</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>