<div class="accordion shadow mt-3" id="accordionExample1">
  <div class="card mb-1 mx-auto  ">
    <div class="card-header col-md-12 text-center bg-light accordion-toggle" id="headingOne" data-toggle="collapse"
      data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      <h1 class="mb-0">
        <!-- <button class="btn btn-link text-dark" type="button">
          <p class="text-black-50 h3">
            Application Setup
          </p>
        </button> -->
        <button class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    <h4 class="mb-0">
                      Application Setup
                    </h4>
                </button>
      </h1>
    </div>
    <form [formGroup]="applicationSetup">
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1">
        <div class="card-body">
          <div class="form-group  row">
            <div class="form-check row">
              <label class="form-check-label col-3 pl-1" for="flexCheckChecked">
                Enable Login Attempt :
              </label>
              <input class="form-check-input col-1 ml-3" type="checkbox" id="flexCheckChecked"  formControlName="enableLoginAttempt">
            </div>

            <!-- <label for="" class="col-3 col-form-label">Enable Login Attempt :</label>
            <div class="col-1">
              <input type="checkbox" class="form-control" formControlName="enableLoginAttempt">
            </div> -->
          </div>
          <div *ngIf="applicationSetup.value.enableLoginAttempt" class="form-group row">
            <label for="" class="col-3 col-form-label">Block Failed Attempt :</label>
            <div class="col-6">
              <input type="text" formControlName="blockLoginAttempt" class="form-control" maxlength="2" [appNoSpecialCharacters]="'numericNumber'"
              [ngClass]="{'is-invalid':applicationSetup.controls.blockLoginAttempt?.touched && applicationSetup.controls.blockLoginAttempt.errors}">
              <div
                *ngIf="applicationSetup.controls.blockLoginAttempt?.touched && applicationSetup.controls.blockLoginAttempt.errors"
                class="invalid-feedback mt-1">
                Block number must be greater than zero
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Session Timeout (minutes) :</label>
            <div class="col-6">
              <input type="text" formControlName="sessionTimeout" [appNoSpecialCharacters]="'numericNumber'"
              maxlength="6" class="form-control">
            </div>
          </div>
          <div style="text-align: center;">
            <button *ngIf="permissioinStoreService.hasPermission(appPermission.APPLICATION_SETUP_MAKER)"
              (click)="onSave()" [disabled]="!applicationSetup.valid" class="btn btn-primary"
              style="margin-top: 10px;">{{btnRef}}
              <span class="spinner-border spinner-border-sm" *ngIf="showProgress1"></span>
            </button> &nbsp;
          </div>
        </div>
      </div>
    </form>
  </div>
</div>