<div class="layout-navbar-full layout-horizontal layout-without-menu">
    <div class="">
        <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar"
            style="position: fixed; top: 0; width: 100%; z-index: 1000;">
            <div class="content-wrapper" style="display: flex; justify-content: center; width: 100%;">
                <a href="index.html">
                    <img src="assets/images/prime-bank-logo (1).png" alt="Prime-Bank" style="height: 35px;">
                </a>
            </div>
        </nav>

        <!-- Add padding to the top of the page content to account for the fixed navbar height -->

        <div class="content-wrapper forgotpass" style="background: #293c8b;">
            <div class="container flex-grow-1 container-p-y">
                <div class="row withoutmnu">
                    <div class="col-xl-7 d-flex align-items-center justify-content-center">
                        <div class="card border shadow-none">
                            <div class="card-body">
                                <!-- <p *ngIf="!usrInfo && isForgotPassword" class="text-justify">An email has been sent to you containing a
                                    password reset code.
                                    Completing this form will reset your password. By providing the key you received in
                                    your
                                    email, this will allow you to reset your password.
                                </p> -->
                                <div *ngIf="!usrInfo && isForgotPassword">
                                    <ol>
                                        <li>Required multifactor authentication to reset password.</li>
                                        <li>Three questions are available to answer, i.e., Country, Currency, and Color. Required to match one answer out of three questions.</li>
                                        <li>An email has been sent to you containing a
                                            password reset code. By providing the key you received in
                                            your email, this will allow you to reset your password.</li>
                                        <li>Reset your password following the password complexity.</li>
                                    </ol>
                                </div>
                                
                                <div *ngIf="!usrInfo && !isForgotPassword">
                                    <ol>
                                        <li>Required multifactor authentication to unlock the user.</li>
                                        <li>Three questions are available to answer, i.e., Country, Currency, and Color. Required to match one answer out of three questions.</li>
                                        <li>An OTP will be sent to your registered email.</li>
                                        <li>Reset your password following the password complexity.</li>
                                    </ol>
                                </div>
                                

                                <div *ngIf="usrInfo" class="p-2">
                                    <h6 class="m-0" style="text-decoration: underline;">Password Complexity Requirements
                                    </h6>
                                    <ul>
                                        <li
                                            [ngClass]="(forgotPassForm.get('password')?.value && !passValidation?.length && !isValid) ? 'invalid': (!forgotPassForm.get('password')?.value && !isValid) ? 'defalt':'valid'">
                                            Length between 12 and 15 characters.</li>
                                        <li
                                            [ngClass]="(forgotPassForm.get('password')?.value && !passValidation?.uppercase && !isValid) ? 'invalid': (!forgotPassForm.get('password')?.value && !isValid) ? 'defalt':'valid'">
                                            At least one uppercase letter.</li>
                                        <li
                                            [ngClass]="(forgotPassForm.get('password')?.value && !passValidation?.lowercase && !isValid) ? 'invalid': (!forgotPassForm.get('password')?.value && !isValid) ? 'defalt':'valid'">
                                            At least one lowercase letter.</li>
                                        <li
                                            [ngClass]="(forgotPassForm.get('password')?.value && !passValidation?.digit && !isValid) ? 'invalid': (!forgotPassForm.get('password')?.value && !isValid) ? 'defalt':'valid'">
                                            At least one digit.</li>
                                        <li
                                            [ngClass]="(forgotPassForm.get('password')?.value && !passValidation?.specialCharacter && !isValid) ? 'invalid': (!forgotPassForm.get('password')?.value && !isValid) ? 'defalt':'valid'">
                                            At least one special character: !, {{'@'}}, #, $, %, ^, &, *, ?.</li>
                                        <li
                                            [ngClass]="(forgotPassForm.get('password')?.value && !passValidation?.successive && !isValid) ? 'invalid': (!forgotPassForm.get('password')?.value && !isValid) ? 'defalt':'valid'">
                                            No more than 4 successive identical characters.</li>


                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 d-flex align-items-center justify-content-center">
                        <div class="authentication-inner p-4">
                            <!-- Forgot Password -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Logo -->
                                    <div class="app-brand justify-content-center pb-5 pt-2">
                                        <a href="index.html" class="app-brand-link">
                                            <img src="assets/images/prime-bank-logo (1).png" alt="Prime-Bank"
                                                style="height: 35px;">
                                        </a>
                                    </div>
                                    <!-- /Logo -->
                                    <h5 *ngIf="isForgotPassword" class="mb-2">Forgot Password? 🔒</h5>
                                    <h5 *ngIf="!isForgotPassword" class="mb-2">User Unlock? 🔒</h5>

                                    <p *ngIf="isForgotPassword" class="mb-4">Enter your user Id and we'll send you guidelines to reset your
                                        password</p>
                                    <p *ngIf="!isForgotPassword" class="mb-4">Enter your user Id and we'll send you guidelines to unlock your
                                            user</p>   

                                    <form [formGroup]="forgotPassForm" autocomplete="off">
                                        <div class="" style="height: auto;">
                                            <div class="form-group inputContainer">
                                                <input type="text" formControlName="loginName"
                                                    [readonly]="usrInfo || link"
                                                    class="form-control input input-underline input-lg" id="loginName"
                                                    placeholder="Login Name"
                                                    [ngClass]="{'is-invalid':btnClick && forgotPassForm.get('loginName').invalid}">
                                                <label for="username" class="label">User Id</label>
                                                <div *ngIf="btnClick && forgotPassForm.get('loginName').invalid"
                                                    class="invalid-feedback invalid-feedback-p col-md-12 ">
                                                    <div *ngIf="forgotPassForm.get('loginName').hasError('required')"
                                                        class="float-right validation-color">
                                                        Required User ID
                                                    </div>
                                                </div>
                                            </div>

                                            <ng-container *ngIf="usrInfo && otp">
                                                <div class="form-group inputContainer">
                                                    <input type="text"
                                                        class="form-control input input-underline input-lg" id="otp"
                                                        placeholder="OTP" (input)="onOtpInput($event)" [readonly]="link"
                                                        [maxLength]="6" [ngClass]="{'is-invalid': otpMessage.length}">
                                                    <label for="otp" class="label">OTP</label>

                                                </div>
                                                <div *ngIf="otpMessage" class="otp-message">
                                                    {{ otpMessage }}
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="usrInfo && link">

                                                <div class="form-group inputContainer ">
                                                    <input id="password" type="password" class="form-control input"
                                                        (keyup)="checkPassValidation($event)" placeholder="Password *"
                                                        formControlName="password" autocomplete="new-password"
                                                        [ngClass]="{ 'is-invalid': 
                                                    forgotPassForm.get('password')?.value && forgotPassForm.get('password').touched && !isValid}" />
                                                    <label for="password" class="label">New Password</label>

                                                    <div *ngIf="forgotPassForm.get('password')?.value && !isValid"
                                                        class="invalid-feedback invalid-feedback-p col-md-12 validation-color">
                                                        <div *ngIf="!forgotPassForm.get('password')?.value"
                                                            class="float-right">
                                                            Password can not be empty.
                                                        </div>
                                                        <div *ngIf="!isValid" class="float-right">
                                                            Invalid Password. See the password complexity.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group inputContainer" [hidden]="!isValid">
                                                    <input id="cnofPassword" type="password" class="form-control input"
                                                        [placeholder]="'Confirm Password *'"
                                                        (keyup)="onKey($event.target.value)"
                                                        formControlName="cnofPassword"
                                                        [ngClass]="{ 'is-invalid': !isPassMatch && forgotPassForm.value?.password }" />
                                                    <label for="cnofPassword" class="label">Confirm Password</label>
                                                    <div class="t mb-5" *ngIf="isPassMatch">
                                                        <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
                                                    </div>

                                                    <div
                                                        class="invalid-feedback invalid-feedback-p col-md-12 validation-color ">
                                                        <div *ngIf="!forgotPassForm.get('cnofPassword').value && forgotPassForm.get('password').value"
                                                            class="float-right">
                                                            Please enter confirm password.
                                                        </div>
                                                        <div *ngIf="forgotPassForm.get('cnofPassword').value && !isPassMatch"
                                                            class="float-right">
                                                            Confirm Password does not match.
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <div class="form-group inputContainer mlt"
                                                *ngIf="securityQueList?.length && !(usrInfo || otp || link)">
                                                <ng-multiselect-dropdown
                                                    [ngClass]="{'is-invalid':btnClick && forgotPassForm.get('securityQuestionList').invalid}"
                                                    style="z-index: 100; background-color: whitesmoke; color: #27384ead;"
                                                    id="securityQuestion" [placeholder]="'select any one question'"
                                                    name="securityQueList" formControlName="securityQuestionList"
                                                    (onDeSelect)="deSelectQuestion($event)"
                                                    (onSelect)="checkSelectedQuestionList($event)"
                                                    [settings]="dropdownSettings" [data]="securityQueList"
                                                    (onSelectAll)="onItemSelect($event)">
                                                </ng-multiselect-dropdown>

                                                <div *ngIf="btnClick"
                                                    class="invalid-feedback invalid-feedback-p col-md-12 ">
                                                    <div *ngIf="setStatus()" class="float-right validation-color">
                                                        Please select any one question.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 row"
                                                *ngIf="selectedSecurityQueList?.length>0 && !(usrInfo || otp || link)">
                                                <div *ngFor="let question of selectedSecurityQueList"
                                                    class="form-group m-0">

                                                    <div>
                                                        <label
                                                            style="color: #27384ead;">{{question.securityQuestion}}</label>
                                                        <select [(ngModel)]="question.questionAnswer"
                                                            class="form-select"
                                                            [ngClass]="{'is-invalid':btnClick && !question.questionAnswer}"
                                                            [ngModelOptions]="{standalone: true}">
                                                            <option value="" disabled selected>Select Ans</option>
                                                            <ng-container *ngFor="let q of question?.questionAnsList">
                                                                <option [value]="q.value1">
                                                                    {{q.value1}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                        <div class="invalid-feedback ">
                                                            <div class="float-right validation-color">
                                                                Answer cannot be empty.
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="d-flex flex-row-reverse py-2"
                                                            style="margin-left: -15px; margin-top: -7px;">
                                                            <div class="col-2 px-0 mt-1">
                                                                <button
                                                                    style="height:36px; width: 36px; color: #293c8b !important;"
                                                                    type="button"
                                                                    class="btn btn-outline-secondary btn-sm border- rounded-3 reload-btn"
                                                                    (click)="generateCapture()" title="Reload">
                                                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                                                </button>

                                                            </div>

                                                            <div class="col-10 pr-1">
                                                                <div
                                                                    style="height: 44px; border-radius: 8px; position: relative;">
                                                                    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.5;"
                                                                        [ngStyle]="{'background-image': 'url(assets/images/pattern/2.jpg)'}">

                                                                    </div>
                                                                    <label
                                                                        style="height: 40px; position: relative; z-index: 1; color: rgb(25, 25, 31); font-size: 20px;"
                                                                        for="aa"
                                                                        class="pt-2 d-flex justify-content-center font-weight-bold align-self-center">{{loadCapture()}}</label>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group inputContainer">
                                                        <input id="cap1" type="text" class="form-control input"
                                                            placeholder="Enter Answer *" formControlName="capture"
                                                            [ngClass]="{ 'is-invalid': btnClick && checkCapture() }" />
                                                        <label for="cap1" class="label">Captcha</label>
                                                        <div *ngIf="btnClick && checkCapture()"
                                                            class="invalid-feedback invalid-feedback-p col-md-12 align-self-center validation-color px-0"
                                                            style="padding-top: 55px !important; left: 0px">
                                                            <div *ngIf="forgotPassForm.get('capture')?.hasError('required')"
                                                                class="float-right mt2">
                                                                Captcha can not be empty.
                                                            </div>
                                                            <div *ngIf="forgotPassForm.get('capture').value && forgotPassForm.get('capture').value != captureSum"
                                                                class="float-right mt2">
                                                                Wrong Answer.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button *ngIf="!usrInfo && !link" class="btn btn-primary d-grid w-100 mb-2"
                                                style="color: white;" (click)="onChangePassClick()">Next</button>
                                            <button *ngIf="usrInfo && link" class="btn btn-primary d-grid w-100 mb-2"
                                                style="color: white;" (click)="changePass()">Submit</button>

                                            <button class="btn btn-primary d-grid w-100 mb-2" style="color: white;"
                                                (click)="confirmNavigation()">
                                                Back to Login
                                            </button>

                                            <button *ngIf="otp && !link" class="btn btn-primary d-grid w-100"
                                                style="color: white;" (click)="onChangePassClick()"
                                                [disabled]="!showButton">Resend OTP</button>

                                            <!-- <div *ngIf="!showButton && otp && !link" class="countdown-container">
                                                <p class="countdown-message mt-1">Resend OTP will be enabled after
                                                    <span class="countdown-timer">{{ countdown }}</span> seconds.
                                                    {{usrInfo?.msg}}
                                                </p>
                                            </div> -->
                                            <div class="countdown-container" *ngIf="otp && !link">
                                                <p class="countdown-message mt-1">
                                                    <span *ngIf="!showButton">
                                                        Resend OTP will be enabled after {{ countdown }} seconds.</span>
                                                    {{usrInfo?.msg}}
                                                </p>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- /Forgot Password -->
                        </div>
                    </div>
                </div>
            </div>
            <footer class="content-footer footer" style="background-color: #ffffff;">
                <div class="container">
                    <div
                        class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                        <div class="text-body">
                            &copy; 2010-
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            2024 Copyrighted by
                            <a href="#" target="_blank" class="footer-link">Prime Bank</a>
                        </div>
                        <div class="d-none d-lg-inline-block">
                            <a href="https://www.primebank.com.bd/license" class="footer-link me-4"
                                target="_blank">License</a>
                            <a href="https://www.primebank.com.bd/license" target="_blank" class="footer-link me-4">More
                                Themes</a>
                            <a href="https://www.primebank.com.bd/license" target="_blank"
                                class="footer-link me-4">Documentation</a>
                            <a href="https://www.primebank.com.bd/license" target="_blank"
                                class="footer-link d-none d-sm-inline-block">Support</a>
                        </div>
                    </div>
                </div>
            </footer>

            <ngx-loading [show]="loading" [config]="{
            primaryColour: '#dd0031',
            secondaryColour: '#1976d2',
            tertiaryColour: '#dd0031',
            backdropBorderRadius: '3px'
          }">
            </ngx-loading>
        </div>
    </div>
</div>