<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12 mb-5 order-0">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 *ngIf="false" class="card-title mb-5" style="color: #293c8b;">Congratulations {{loginUser?.loginName}}! 🎉</h5>
                <!-- <p class="mb-4">
                  You have completed <span class="fw-bold">72%</span> information in your account. Check your new badge in
                  your profile.
                </p> -->
                <button (click)="onClickHeaderProfile()" class="btn btn-md btn-primary"> <span class="align-middle"> View Profiles</span></button>
                
              </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img src="assets/images/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                <!-- <img _ngcontent-hll-c225="" src="assets/images/man-with-laptop-light.png" alt="Prime-Bank" style="height: 35px;"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4 order-0">
          <img class="w-100 rounded" src="assets/images/primelo1.jpg">
      </div>
      <div class="col-lg-6 mb-4 order-0">
          <img class="w-100 rounded" src="w-100 rounded" src="assets/images/primelo.jpg">
      </div>
    </div>
  </div>