.button-position {
    margin-top: 19px;
    margin-left: 14px;
}

.modal-dialog-pdf{
    overflow-y: initial !important
}
.modal-content-pdf{
    height: 90vh;
    overflow-y: auto;
}

.copy-download-close{
    margin-left: 400px;
}