<!-- <body>
  <div class="error-container">
      <div class="error-code">404</div>
      <div class="error-message">File or directory not found.</div>
      <div class="error-suggestion">
          The server is refusing connections.<br>
          The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
      </div>
      <p class="error-suggestion">
          Contact your Prime Bank PLC Admin or PBL network administrator to make sure the server is working.
      </p>
      <a href="/" class="btn btn-primary btn-home">Go to Homepage</a>
  </div>
</body> -->

<body>
  <div class="error-container">
      <div class="error-code">404</div>
      <div class="error-message">File or directory not found.</div>
      <div class="error-suggestion">
          The server is refusing connections.<br>
          The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
      </div>
      <p class="error-suggestion">
          Contact your Prime Bank PLC. Admin or PBL network administrator to make sure the server is working.
      </p>
      <a href="/" class="btn btn-primary btn-home">Go to Homepage</a>
  </div>
</body>

