// @import url('../service/base.scss');
@import url('../../../service/base.scss');



.is-invalid{
    border: 1px solid red !important;
}
.inputContainer{
    position: relative;
    height: 45px;
    // margin: 17px;
}
.invalid{
    background-color: rgba(255, 0, 0, 0.836) !important;
    .text{
        color: wheat;
        size: 10px;
    }
}
.invalid-feedback{
    size: 7px !important;
}
.input{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    // width: 98%;
    border: 1px solid black;
    border-radius: 8px;
    font-size:16px;
    padding: 0 20px;
    color: black;
    outline: none;
    background: none;
    z-index: 1;
}
.mt2{
    margin-top: 10px !important;
}

::placeholder{
    color: transparent;
}

.label{
    position: absolute;
    top: 9px;
    left: 15px;
    padding: 0 4px;
    background-color: #f0efef;
    
    color: black;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.input:focus+.label{
    top: -10px;
    left: 10px;
    z-index: 29;
    font-size: 14px;
    font-weight: 600;
    color: #042653;
    background-color: #f0efef;

}

.input:focus{
    border: 1px solid #042653;
}
.input:not(:placeholder-shown) +.label{
    top: -10px;
    left: 10px;
    z-index: 20;
    font-size: 14px;
    font-weight: 600;
    color: #042653;
    background-color: #f0efef;

}
.input:not(:placeholder-shown){
    border: 1px solid #042653;
}

.invalid-feedback.col-md-12.ng-tns-c113-0.ng-star-inserted {
    position: absolute;
    top: 38px;
    right: -10px;
    margin-bottom: 30px;
}

.t{
    width: 100%;
    text-align: end;
    // height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

ul {
    list-style-type: none;
    padding-left: 5px;
    li{
        margin: 2px 0;
    }

    .defalt::before {
        content: '*' !important;
        margin-right: 5px;
        
    }
    .defalt{
        color: black;
        // content: decimal !important;
    }
    .valid::before {
        content: "\2714";
        display: inline-block;
        margin-right: 5px;
        background-color: rgb(28, 253, 28);
        color: white;
        border-radius: 50%;
        font-size: 14px;
        padding: 2px;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
    }

    .invalidl::before {
        content: "\2716";
        font-size: 14px;
        margin-right: 5px;
        background-color: rgb(255, 83, 83) !important;
        border-radius: 50%;
        display: inline-block;
        color: white;
        padding: 2px;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
    }

    .valid {
        color: green;
    }
    .invalidl {
        color: red;
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-size: cover;
    background-position: center;
}

.card{
    background-color: white;
    border-radius: 10px;
   padding: auto;
    // padding: 1.5rem 1.5rem;
}

.btn-change {
    background-color: #293c8b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    // transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
  }
  .t {
    position: absolute;
    right: 10px;
    top: 47%;
    transform: translateY(-50%);
    cursor: pointer;
}