<div class="col-12">
    <h4 class="fw-bold py-3 mb-4">Change Password</h4>
    <div class="row justify-content-center my-2">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body p-4 d-flex align-items-center">
                    <div class="p-2">
                        <h6 class="m-0" style="text-decoration: underline;">Password Complexity Requirements</h6>
                        <ul>
                            <li
                                [ngClass]="(changePassForm.get('newPass')?.value && !passValidation?.length && !isValid) ? 'invalidl': (!changePassForm.get('newPass')?.value && !isValid) ? 'defalt':'valid'">
                                Length between 12 and 15 characters.</li>
                            <li
                                [ngClass]="(changePassForm.get('newPass')?.value && !passValidation?.uppercase && !isValid) ? 'invalidl': (!changePassForm.get('newPass')?.value && !isValid) ? 'defalt':'valid'">
                                At least one uppercase letter.</li>
                            <li
                                [ngClass]="(changePassForm.get('newPass')?.value && !passValidation?.lowercase && !isValid) ? 'invalidl': (!changePassForm.get('newPass')?.value && !isValid) ? 'defalt':'valid'">
                                At least one lowercase letter.</li>
                            <li
                                [ngClass]="(changePassForm.get('newPass')?.value && !passValidation?.digit && !isValid) ? 'invalidl': (!changePassForm.get('newPass')?.value && !isValid) ? 'defalt':'valid'">
                                At least one digit.</li>
                            <li
                                [ngClass]="(changePassForm.get('newPass')?.value && !passValidation?.specialCharacter && !isValid) ? 'invalidl': (!changePassForm.get('newPass')?.value && !isValid) ? 'defalt':'valid'">
                                At least one special character: !, {{'@'}}, #, $, %, ^, &, *, ?.</li>
                            <li
                                [ngClass]="(changePassForm.get('newPass')?.value && !passValidation?.successive && !isValid) ? 'invalidl': (!changePassForm.get('newPass')?.value && !isValid) ? 'defalt':'valid'">
                                No more than 4 successive identical characters.</li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 pl-3">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="changePassForm">
                        <div class="form-content">

                            <div class="form-group inputContainer mt-2">
                                <input type="text" [readonly]="requestType == 'BY_USER'" required
                                    formControlName="loginName" class="form-control input input-underline input-lg"
                                    id="loginName" placeholder="Login Name">
                                <label for="username" class="label">User Id</label>
                            </div>
                            <ng-container *ngIf="isExternaluser">


                                <div *ngFor="let question of questionList; let i = index"
                                    class="form-group mt-3 inputContainer">
                                    <select class="form-control input input-underline input-lg"
                                        [(ngModel)]="question.questionAnswer" [ngModelOptions]="{standalone: true}"
                                        [id]="question.securityQuestionId">
                                        <option value="" disabled selected>Select Answer</option>
                                        <ng-container *ngFor="let q of question?.questionAnsList">
                                            <option [value]="q.value1">{{q.value1}}</option>
                                        </ng-container>
                                    </select>

                                    <label [for]="question.securityQuestionId"
                                        class="label">{{question.securityQuestion}}</label>
                                </div>

                                <div class="form-group inputContainer">
                                    <input type="password" required formControlName="password"
                                        (change)="checkUserPassMatch($event)"
                                        [ngClass]="{'is-invalid': (btnClick || changePassForm.get('password')?.touched) && !changePassForm.get('password').value}"
                                        class="form-control input input-underline input-lg" id="password"
                                        placeholder="Password">
                                    <label for="password" class="label">Old Password</label>
                                    <div *ngIf="(btnClick || changePassForm.get('password')?.touched)"
                                        class="invalid-feedback invalid-feedback-p col-md-12 ">
                                        <div *ngIf="!changePassForm.get('password').value" class="float-right mt2">
                                            Old Password can not be empty.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group inputContainer">
                                    <input type="password" (keyup)="checkPassValidation($event)" required
                                        formControlName="newPass" class="form-control input input-underline input-lg"
                                        id="newPassword" placeholder="New Password"
                                        [ngClass]="{'is-invalid': (btnClick || changePassForm.get('newPass')?.touched) && (changePassForm.get('newPass').invalid || !isValid)}">
                                    <label for="newPassword" class="label">New Password</label>
                                    <div *ngIf="(btnClick || changePassForm.get('newPass')?.touched) && !isValid"
                                        class="invalid-feedback invalid-feedback-p col-md-12 ">
                                        <div *ngIf="changePassForm.get('newPass').invalid" class="float-right mt2">
                                            New Password can not be empty.
                                        </div>
                                        <div *ngIf="changePassForm.get('newPass').value && !isValid"
                                            class="float-right mt2">
                                            Invalid Password. See the password complexity.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group inputContainer mb-4" [hidden]="!isValid">
                                    <input id="confirmPass" type="password" class="form-control input pass-match"
                                        [placeholder]="'Confirm Password *'" (keyup)="onKey($event.target.value)"
                                        formControlName="confirmPass" [ngClass]="{ 'is-invalid':(btnClick || changePassForm.get('confirmPass')?.touched) && !isPassMatch && isValid
                                                 && changePassForm.value?.newPass}" />
                                    <label for="confirmPass" class="label">Confirm Password</label>
                                    <div class="t" *ngIf="isPassMatch">
                                        <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="(btnClick || changePassForm.get('confirmPass')?.touched) && isValid"
                                        class="invalid-feedback invalid-feedback-p col-md-12">
                                        <div class="float-right mt2"
                                            *ngIf="(changePassForm.get('confirmPass')?.touched || btnClick) && changePassForm.get('confirmPass').hasError('required')">
                                            Please enter confirm password
                                        </div>
                                        <div class="float-right mt2"
                                            *ngIf="changePassForm.get('confirmPass').value && !isPassMatch">
                                            Password not match
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="d-flex flex-row-reverse py-2">
                                                <div class="col-2">
                                                    <button style="height:44px; width: 36px;" type="button"
                                                        class="btn btn-outline-secondary btn-sm"
                                                        (click)="generateCapture()" title="Reload">
                                                        <i class="fa fa-refresh" aria-hidden="true"
                                                            style="color: black;"></i>
                                                    </button>
                                                </div>
                                                <div class="bg col-10">
                                                    <div style="height: 44px; border-radius: 8px; position: relative;">
                                                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.5;"
                                                            [ngStyle]="{'background-image': 'url(assets/images/pattern/2.jpg)'}">

                                                        </div>
                                                        <label
                                                            style="height: 40px; position: relative; z-index: 1; color: rgb(25, 25, 31); font-size: 20px;"
                                                            for="aa"
                                                            class="pt-2 d-flex justify-content-center font-weight-bold align-self-center">{{loadCapture()}}</label>
                                                    </div>
                                                    <!-- <div style="height:44px; border-radius: 8px;" class="overlay"
                                                    [ngStyle]="{'background-image': 'url(assets/images/pattern/2.jpg)'}">
                                                </div>
                                                <label style="height:40px; color: black; opacity: 0.5;" for="aa"
                                                    class="pt-2 d-flex justify-content-center font-weight-bold align-self-end">{{loadCapture()}}</label> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <div class="inputContainer">
                                            <input id="cap1" type="text" class="form-control input"
                                                placeholder="Enter Answer *" formControlName="capture"
                                                [ngClass]="{ 'is-invalid': btnClick && checkCapture()}" />
                                            <label for="cap1" class="label">Captcha</label>
                                            <div *ngIf="btnClick && checkCapture()"
                                                class="invalid-feedback invalid-feedback-p col-md-12 ">
                                                <div *ngIf="changePassForm.get('capture')?.hasError('required')"
                                                    class="float-right mt2">
                                                    Captcha can not be empty.
                                                </div>
                                                <div *ngIf="changePassForm.get('capture').value?.length>0 && changePassForm.get('capture').value != captureSum"
                                                    class="float-right mt2">
                                                    Wrong Answer.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="btnClick && (!checkSecurityQuestionAnswer() || error)" class="my-2"
                                    [ngClass]="{'invalid':  btnClick && (!checkSecurityQuestionAnswer() || error)}">
                                    <div class="text" *ngIf="!checkSecurityQuestionAnswer()">
                                        Please Answer Any One Security question.
                                    </div>

                                    <div class="text" *ngIf="error">{{error}}</div>
                                </div>
                                <button class="btn btn-change p-1 col-12 flex-fill  text-white rounded-3 "
                                    (click)="onChangePassword()">Change Password</button>&nbsp;


                            </ng-container>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<ngx-loading [show]="loading" [config]="{
    primaryColour: '#dd0031',
    secondaryColour: '#1976d2',
    tertiaryColour: '#dd0031',
    backdropBorderRadius: '3px'
  }">
</ngx-loading>