<div class="shadow" style="height: 100vh; overflow-y: auto !important;">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" [id]="'heading-1'">
        <button class="accordion-button h1" [ngClass]="{'collapsed':!isOpen[0]}" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse-0" (click)="togglePanel(0)" [attr.aria-expanded]="isOpen[0]">
          Signature Admin Information
        </button>
      </h2>
      <div id="collapse-0" class="accordion-collapse" [ngClass]="isOpen[0] ? 'show' : (isOpen[0] ? '' : 'collapsed')"
        aria-labelledby="heading-1" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <div autocomplete="off">

            <div class="form-row mb-2 mx-4">
              <div class="col-md-6 form-row my-1 px-3">
                <label for="cusIdPran" class="col-md-4">Name:</label>
                <div class="col-md-8">
                  <input id="cusIdPran" [appNoSpecialCharacters]="'name'" type="text" class="form-control"
                    [(ngModel)]="name">

                </div>
              </div>
              <div class="col-md-6 form-row my-1 px-3">
                <label for="pa" class="col-md-4">Email:</label>
                <div class="col-md-8">
                  <input id="pa" type="text" class="form-control" [(ngModel)]="email">
                </div>
              </div>
              <div class="col-md-6 form-row my-1 px-3">
                <label for="loanAccount" class="col-md-4">Phone Number:</label>
                <div class="col-md-8">
                  <input id="loanAccount" type="text" class="form-control" [(ngModel)]="number">
                </div>
              </div>

            </div>


          </div>
        </div>
        <div class="accordion-footer py-2 d-flex justify-content-end px-4">
          <button type="button" class="btn btn-primary" (click)="save('SIG_AD_INFO')">{{sigAdInfoBtn}}</button>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" [id]="'heading-3'">
        <button class="accordion-button h1" [ngClass]="{'collapsed':!isOpen[1]}" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse-1" (click)="togglePanel(1)" [attr.aria-expanded]="isOpen[1]">
          Date Setup
        </button>
      </h2>
      <div id="collapse-1" class="accordion-collapse" [ngClass]="isOpen[1] ? 'show' : (isOpen[1] ? '' : 'collapsed')"
        aria-labelledby="heading-1" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <div autocomplete="off">

            <div class="form-row mb-2 d-flex mx-4">

              <div class="col-6 form-row my-1 px-3 align-items-center">
                <label for="ldate" class="col-md-auto">Set Last Login Max-Date( Days ):</label>
                <div class="col-md-auto">
                  <input id="ldate" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                    [(ngModel)]="lastLogin">
                </div>
              </div>
              <div class="col-6 form-row my-1  align-items-center">
                <label for="lcpass" class="col-md-auto">Set Last Change Password Max-Date( Days ):</label>
                <div class="col-md-4">
                  <input id="lcpass" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                    [(ngModel)]="lastChangePass">

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="accordion-footer py-2 d-flex justify-content-end px-4">
          <button type="button" class="btn btn-primary" (click)="save('LAST_USER_INFO')">{{lastUserInfoBtn}}</button>
        </div>
      </div>
    </div>
    <!-- max length setup -->
    <div class="accordion-item">
      <h2 class="accordion-header" [id]="'heading-2'">
        <button class="accordion-button h1" [ngClass]="{'collapsed':!isOpen[2]}" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse-2" (click)="togglePanel(2)" [attr.aria-expanded]="isOpen[2]">
          Max Length Setup
        </button>
      </h2>
      <div id="collapse-2" class="accordion-collapse" [ngClass]="isOpen[2] ? 'show' : (isOpen[2] ? '' : 'collapsed')"
        aria-labelledby="heading-1" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div autocomplete="off">
            <div class="form-checks my-2">
              <div class="form-checks my-2">
                <div class="d-flex justify-content-center align-items-center my-3 custom-radio-group">
                  <!-- User Radio -->
                  <div class="form-check mx-2">
                    <input type="radio" (click)="checkFormValue('user')" id="userRadio" name="formType"
                      class="form-check-input" [(ngModel)]="selectedForm" value="user">
                    <label for="userRadio" class="form-check-label"><span class="custom-radio"></span>User</label>
                  </div>

                  <!-- Role Radio -->
                  <div class="form-check mx-2">
                    <input type="radio" (click)="checkFormValue('role')" id="roleRadio" name="formType"
                      class="form-check-input" [(ngModel)]="selectedForm" value="role">
                    <label for="roleRadio" class="form-check-label">Role</label>
                  </div>

                  <!-- Permission Radio -->
                  <div class="form-check mx-2">
                    <input type="radio" (click)="checkFormValue('permission')" id="permissionRadio" name="formType"
                      class="form-check-input" [(ngModel)]="selectedForm" value="permission">
                    <label for="permissionRadio" class="form-check-label">Permission</label>
                  </div>

                  <!-- Signatory Radio -->
                  <div class="form-check mx-2">
                    <input type="radio" (click)="checkFormValue('signatory')" id="signatoryRadio" name="formType"
                      class="form-check-input" [(ngModel)]="selectedForm" value="signatory">
                    <label for="signatoryRadio" class="form-check-label">Signatory</label>
                  </div>
                  <!-- Sequrity Question Radio -->
                  <div class="form-check mx-2 d-flex align-items-center">
                    <input type="radio" (click)="checkFormValue('question')" id="securityQuestionRadio" name="formType"
                      class="form-check-input" [(ngModel)]="selectedForm" value="question">
                    <label for="securityQuestionRadio" class="form-check-label">Sequrity Question</label>
                  </div>
                  <!-- Institution Radio -->
                  <div class="form-check mx-2">
                    <input type="radio" (click)="checkFormValue('institution')" id="institutionRadio" name="formType"
                      class="form-check-input" [(ngModel)]="selectedForm" value="institution">
                    <label for="institutionRadio" class="form-check-label">Institution</label>
                  </div>
                  <!-- Branch Radio -->
                  <div class="form-check mx-2">
                    <input type="radio" (click)="checkFormValue('branch')" id="branchRadio" name="formType"
                      class="form-check-input" [(ngModel)]="selectedForm" value="branch">
                    <label for="branchRadio" class="form-check-label">Branch</label>
                  </div>

                </div>
                <div class="form-row mb-2 d-flex flex-wrap">
                  <!-- Role fileds -->
                  <form [formGroup]="roleForm" *ngIf="selectedForm === 'role'" class="container-fluid">
                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="displayName" class="form-label">Roll Name:</label>
                        <input id="displayName" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="displayName" maxlength="3"
                          (input)="saveRef = 'ROLL_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="desc" class="form-label">Description:</label>
                        <input id="desc" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="desc" maxlength="3" (input)="saveRef = 'ROLL_FORM_SETUP'">
                      </div>
                    </div>
                  </form>
                  <!-- Permission fileds -->
                  <form [formGroup]="permissionForm" *ngIf="selectedForm === 'permission'" class="container-fluid">
                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="displayNameP" class="form-label">Permission Name:</label>
                        <input id="displayNameP" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="displayNameP" maxlength="3"
                          (input)="saveRef = 'PERMISSION_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="descP" class="form-label">Description:</label>
                        <input id="descP" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="descP" maxlength="3" (input)="saveRef = 'PERMISSION_FORM_SETUP'">
                      </div>
                    </div>
                  </form>
                  <!-- Signatory fileds -->
                  <form [formGroup]="signatoryForm" *ngIf="selectedForm === 'signatory'" class="container-fluid">
                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="empId" class="form-label">EmployeeId:</label>
                        <input id="empId" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="empId" maxlength="3" (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="name2" class="form-label">Name:</label>
                        <input id="name2" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="name2" maxlength="3" (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="designation" class="form-label">Designation:</label>
                        <input id="designation" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="designation"
                          (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>
                    </div>
                    <div class="form-row">

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="approval" class="form-label">Approval:</label>
                        <input id="approval" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="approval" maxlength="3" (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="address" class="form-label">Address:</label>
                        <input id="address" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="address" maxlength="3" (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="department" class="form-label">Department:</label>
                        <input id="department" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="department"
                          (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>
                    </div>
                    <div class="form-row">

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="phone" class="form-label">Tel no:</label>
                        <input id="phone" maxlength="3" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="phone" (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="nid" class="form-label">NID:</label>
                        <input id="nid" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="nid" maxlength="3" (input)="saveRef = 'SIGNATORY_FORM_SETUP'">
                      </div>
                    </div>
                  </form>
                  <!-- User fileds -->
                  <form [formGroup]="userForm" *ngIf="selectedForm === 'user'" class="container-fluid">
                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="empId" class="form-label">Employee Id:</label>
                        <input id="empId" maxlength="3" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="empId" (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input id="firstName" maxlength="3" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="firstName" (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input id="lastName" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="lastName" maxlength="3" (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>



                    </div>

                    <div class="form-row">

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="phoneNumber" class="form-label">Phone Number:</label>
                        <input id="phoneNumber" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="phoneNumber"
                          (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="branch" class="form-label">Branch:</label>
                        <input id="branch" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="branch" maxlength="3" (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="designationU" class="form-label">Designation:</label>
                        <input id="designationU" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="designation"
                          (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>


                    </div>

                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="nidU" class="form-label">NID:</label>
                        <input id="nidU" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="nid" maxlength="3" (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="remarks" class="form-label">Remarks</label>
                        <input id="remarks" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="remarks" maxlength="3" (input)="saveRef = 'USER_FORM_SETUP'">
                      </div>

                    </div>
                  </form>
                  <!-- Question fileds -->
                  <form [formGroup]="questionForm" *ngIf="selectedForm === 'question'" class="container-fluid">
                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="securityQuestion" class="form-label">Security Question:</label>
                        <input id="securityQuestion" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="securityQuestion"
                          (input)="saveRef = 'QUESTION_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="securityQuestionAnswer" class="form-label">Security Question Ans:</label>
                        <input id="securityQuestionAnswer" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="securityQuestionAnswer" maxlength="3"
                          (input)="saveRef = 'QUESTION_FORM_SETUP'">
                      </div>
                    </div>
                  </form>
                  <!-- Instituion fileds -->
                  <form [formGroup]="institutionForm" *ngIf="selectedForm === 'institution'" class="container-fluid">
                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="institutionName" class="form-label">Institution Name:</label>
                        <input id="institutionName" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="institutionName"
                          (input)="saveRef = 'INSTITUTION_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="domain" class="form-label">Domain:</label>
                        <input id="domain" [appNoSpecialCharacters]="'numericNumber'" type="text" class="form-control"
                          formControlName="domain" maxlength="3" (input)="saveRef = 'INSTITUTION_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="numberUser" class="form-label">Number of Master User:</label>
                        <input id="numberUser" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="numberUser" maxlength="3"
                          (input)="saveRef = 'INSTITUTION_FORM_SETUP'">
                      </div>
                    </div>
                    <div class="form-row">

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="numberGenUser" class="form-label">Number of General User:</label>
                        <input id="numberGenUser" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="numberGenUser" maxlength="3"
                          (input)="saveRef = 'INSTITUTION_FORM_SETUP'">
                      </div>
                    </div>
                  </form>
                  <!-- Branch fileds -->
                  <form [formGroup]="branchForm" *ngIf="selectedForm === 'branch'" class="container-fluid">
                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="cbsBranchId" class="form-label">Branch Id:</label>
                        <input id="cbsBranchId" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="cbsBranchId"
                          (input)="saveRef = 'BRANCH_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="branchName" class="form-label">Branch Name:</label>
                        <input id="branchName" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" maxlength="3" formControlName="branchName"
                          (input)="saveRef = 'BRANCH_FORM_SETUP'">
                      </div>

                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="adCode" class="form-label">Ad Code:</label>
                        <input id="adCode" maxlength="3" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="adCode" (input)="saveRef = 'BRANCH_FORM_SETUP'">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-md-4 col-sm-6 px-5  my-1">
                        <label for="routingNumber" class="form-label">Routing Number:</label>
                        <input id="routingNumber" maxlength="3" [appNoSpecialCharacters]="'numericNumber'" type="text"
                          class="form-control" formControlName="routingNumber" (input)="saveRef = 'BRANCH_FORM_SETUP'">
                      </div>
                    </div>
                  </form>


                </div>
                <!-- <div class="accordion-footer py-2 d-flex justify-content-end px-4">
                  <button type="button" class="btn btn-primary"
                    (click)="save('CHARACTER_MAX_LENGTH')">{{lengthInfoBtn}}</button>
                </div> -->
              </div>
            </div>




          </div>
        </div>
        <div class="accordion-footer py-2 d-flex justify-content-end px-4">
          <button type="button" class="btn btn-primary"
            (click)="save('CHARACTER_MAX_LENGTH')">{{lengthInfoBtn}}</button>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" [id]="'heading-3'">
        <button class="accordion-button h1" [ngClass]="{'collapsed':!isOpen[3]}" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse-3" (click)="togglePanel(3)" [attr.aria-expanded]="isOpen[3]">
          Password Encryption
        </button>
      </h2>
      <div id="collapse-3" class="accordion-collapse" [ngClass]="isOpen[3] ? 'show' : (isOpen[3] ? '' : 'collapsed')"
        aria-labelledby="heading-1" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <div autocomplete="off">

            <div class="form-row mb-2 d-flex mx-4">
              <div class="col-12 form-row my-1 px-3 align-items-center">
                <label for="password" class="col-md-auto">Enter Password:</label>
                <div class="col">
                  <input id="password" type="text" class="form-control" [(ngModel)]="passwordFromUI">
                </div>
              </div>
              <!-- <div *ngIf="encryptedPassword" class="col-6 form-row my-1  align-items-center">
                  <label for="password" class="col-md-auto text-danger">Encrypted Password is: {{ encryptedPassword }}</label>
                  <div class="col-md-4">
                  </div>
                </div>   -->

            </div>
          </div>
          <div *ngIf="encriptPasswordResponse" class="col my-1 align-items-center p-3 rounded"
            style="border: 2px solid #17a2b8; background-color: #e9f7fa;">
            <label for="password" class="col text-danger font-weight-bold" style="word-wrap: break-word;">Password: {{
              encriptPasswordResponse }}</label>
          </div>
        </div>
        <div class="accordion-footer py-2 d-flex justify-content-end px-4 col-md-12">
          <button type="button" class="btn btn-primary col-md-auto" (click)="encPass('Encrypt')">Encrypt</button> &nbsp;
          <button type="button" class="btn btn-primary col-md-auto" (click)="encPass('Decrypt')">Decrypt</button>
        </div>
      </div>
    </div>

  </div>
</div>