<div class="row col-md-12">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h6>All Permission</h6>
            </div>
            <div class="col-md-12 row">
                <input class="col-md-12" [appNoSpecialCharacters]="'name'" maxlength="45"
                    style="border-radius: 20px; border: 1px solid #b9c1c0;" placeholder="Search" type="text"
                    (keyup)="onPermissionSearch($event)" />
            </div>
            <div style="margin-top: 10px;" class="ul-scrollable">
                <div></div>
                <div class="col-sm-12" *ngFor="let group of filteredPermissionList">
                    <div class="row" style="cursor: pointer;"
                        [ngClass]="{'select': (clickedItem?.displayName == group.displayName)}">
                        <div class="col-sm-12">
                            <a (click)="onClickPermissionItem($event, group)"
                                style="padding: 2px; font-size: 12px;  border-bottom: solid 1px #ccc;"
                                class="list-group-item hover-color text-left">
                                {{group.displayName}}

                                <button
                                    *ngIf="permissioinStoreService.hasPermission(permissioinStoreService.appPermission.SAVE_PERMISSION)"
                                    title="edit" (click)="onEdit($event, group)" class="btn float-right"
                                    style="padding: 2px; font-size: 12px;">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </a>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div *ngIf="clickedItem" class="col-md-8">
        <div class="row">
            <div class="col-12">
                <h2 style="background-color: rgb(161, 212, 212);" class="text-center">{{clickedItem ?
                    clickedItem.displayName : ''}}
                </h2>
            </div>
            <div class="col-12" style="text-align: center;">
                <div class="row" cdkDropListGroup>
                    <div class="example-container col-6">
                        <h6 class="mb-3"><u>Available Role</u></h6>
                        <div style="margin-top: 2px;" class="col-md-12">
                            <div class="col-md-12 row mb-2">
                                <input class="col-md-12" [appNoSpecialCharacters]="'name'"
                                    style="border-radius: 20px; border: 1px solid #b9c1c0;" placeholder="Search"
                                    type="text" (keyup)="onSearchPermission($event, 'UN')" />
                            </div>
                        </div>
                        <div class="example-list">
                            <div class="example-box" *ngFor="let role of unassignRoleList">
                                {{role.displayName}}
                            </div>
                        </div>
                        <!-- <div cdkDropList [cdkDropListData]="unassignRoleList" class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let role of unassignRoleList" cdkDrag
                                [ngClass]="{'selected': selectedRoles.includes(role)}"
                                (click)="toggleSelection(role, $event)">
                                {{role.displayName}}
                            </div>
                        </div> -->

                    </div>

                    <div class="example-container col-6 m-0">
                        <h6 class="mb-3"><u>Assign Role</u></h6>
                        <div style="margin-top: 2px;" class="col-md-12">
                            <div class="col-md-12 row mb-2">
                                <input class="col-md-12" [appNoSpecialCharacters]="'name'"
                                    style="border-radius: 20px; border: 1px solid #b9c1c0;" placeholder="Search"
                                    type="text" (keyup)="onSearchPermission($event, 'ASSIGN')" />
                            </div>
                        </div>

                        <div class="example-list">
                            <div class="example-box" *ngFor="let role of assignRoleList">
                                {{role.displayName}}
                            </div>
                        </div>
                        <!-- <div cdkDropList [cdkDropListData]="assignRoleList" class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let role of assignRoleList" cdkDrag
                                [ngClass]="{'selected': selectedRoles.includes(role)}"
                                (click)="toggleSelection(role, $event)">
                                {{role.displayName}}
                            </div>
                        </div> -->
                        <div style="text-align: center;" *ngIf="false">
                            <button
                                *ngIf="permissioinStoreService.hasPermission(permissioinStoreService.appPermission.SAVE_PERMISSION)"
                                [(disabled)]="permissionBtnDisabled" (click)="onRoleSave()" class="btn btn-primary"
                                style="margin-top: 5px;" pButton>Save
                                <span class="spinner-border spinner-border-sm" *ngIf="spinnerAssignSave"
                                    [mode]="'indeterminate'"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-pdf" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class=" text-center">
                    <h5 class=" ">Permission</h5>

                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label ">Permission Name:</label>
                    <input type="text" [(ngModel)]="displayName" name="displayName" class="form-control"
                        [value]="displayName" [attr.maxlength]="displayNameMaxLength">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Description:</label>
                    <textarea class="form-control" [attr.maxlength]="descMaxLength" [(ngModel)]="desc"
                        id="message-text"></textarea>
                </div>
            </div>
            <!-- <div class="modal-footer"> -->
            <div style="text-align: center; " class="mb-3">

                <button (click)="onSave()" [disabled]="disableAddSave" class="btn btn-primary"
                    style="margin-top: 10px;">Save
                    <span class="spinner-border spinner-border-sm" *ngIf="spinnerAddSave"
                        [mode]="'indeterminate'"></span>
                </button> &nbsp;
                <button (click)="closePopup()" class="btn btn-danger" style="margin-top: 10px;">Cancel</button>

            </div>
            <!-- </div> -->

        </div>
    </div>
</div>