img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;

}

.blur {
    filter: blur(18px);
    -webkit-filter: blur(18px);
}

.image-container:hover img {
    transform: scale(1.1);
}

//blur image
.blur-image {
    /* The image used */
    // background-image: url("photographer.jpg");

    /* Add the blur effect */
    filter: blur(10px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer image{
    border-radius: 10px;
}

// .image {
//     border: 5px solid #c5bcbc;
//     border-radius: 8px;
//     overflow: hidden; 
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
//     transition: border-color 0.3s ease; 
// }

