::ng-deep .slick-row {
  display: flex;
  align-items: center;
}

::ng-deep .slick-cell {
  display: flex;
  align-items: center;
  height: 100%;
}

.status-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* Styling for the button */
.btn-change {
  background-color: #293c8b;
  color: white;
  // border: none;
  // padding: 10px 20px;
  font-size: 16px;
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
  // transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 100%;
  margin-top: 10px;

}
