.accordion-button {
  font-size: 20px;
  background-color: rgba(41, 60, 139, 1.0);
  color: white;
}



.btn-change {
    background-color: #293c8b;
    color: white;
    // border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    // transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
  }
  
